[submodule "CoVer"]
	path = CoVer
	url = https://github.com/tudasc/CoVer
[submodule "LULESH"]
	path = LULESH
	url = https://github.com/LLNL/LULESH/
[submodule "TeaLeaf"]
	path = TeaLeaf
	url = https://github.com/UoB-HPC/TeaLeaf
