[submodule "CoVer"]
	path = Tool_Sources/CoVer
	url = https://github.com/tudasc/CoVer
[submodule "LULESH"]
	path = Performance_Sources/LULESH
	url = https://github.com/LLNL/LULESH/
[submodule "TeaLeaf"]
	path = Performance_Sources/TeaLeaf
	url = https://github.com/UoB-HPC/TeaLeaf
[submodule "Tool_Sources/MUST"]
	path = Tool_Sources/MUST
	url = git@git-ce.rwth-aachen.de:hpc-research/correctness/MUST
[submodule "Tool_Sources/CoVerInline"]
	path = Tool_Sources/CoVerInline
	url = https://github.com/tudasc/CoVer/
[submodule "Performance_Sources/LULESH-SHMEM"]
	path = Performance_Sources/LULESH-SHMEM
	url = git@github.com:tudasc/LULESH-SHMEM
